.ImageCard {
  display: flex;
  flex-direction: column;
  width: 185px;
  height: 220px;
  margin: 0 10px 20px 10px;
  flex-shrink: 0;
  border-radius: 3px;
  border: solid 1px #ddd;
  box-shadow: 0;
  cursor: pointer;
  transition: all 0.2s;
}

.ImageCard:hover {
  border: solid 1px #999;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}

.ImageCard-image {
  width: 100%;
  height: 185px;
  object-fit: cover;
  border-bottom: solid 1px #ddd;
  flex-shrink: 0;
  transition: all 0.2s;
}

.ImageCard:hover > .ImageCard-image {
  border-bottom: solid 1px #999;
}

.ImageCard-desc {
  padding: 0 10px;
  line-height: 35px;
  flex-grow: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.9em;
}

.light {
  color: #999;
}
